.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.container-1{
  height:fit-content;
  display: block;
  align-items: center;
}
.dice {
  text-align: center;
  display: inline-block;
}
.container button {

  background-color:  #ffc93c;
  border-radius: 200px;
}
.container a {
  text-decoration: none;
  font-size:2rem;
  color: #fbede1;
}
btn:hover{
  animation:cubic-bezier(0.175, 0.885, 0.32, 1.275)
}
body {
  background-color: #155263;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #eea1cd;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
